<h1>Peticiones Http</h1>
<h3> Ejemplo de como realizar las peticiones con fetch en angular cada boton realiza una accion que se visualiza por consola</h3>

<button (click)=" getData()" >Obtener data</button>
<button (click)=" createData()">Crear data</button>
<button (click)=" updateData()">Actualizar data</button>
<button (click)="  deleteData()">Eliminar data</button>  


<button (click)="  getAllData()">Get Post con HttpClient</button>  
<button (click)="  createPost()">create Post con HttpClient</button>  
<button (click)="  updatePost()">update Post con HttpClient</button>  
<button (click)="  deletePost()">Delete Post con HttpClient</button>  

